<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    label {
      font-weight: bold;
    }
    
    .prediction-container {
      text-align: center;
      background-color: #f5f5f5;
      padding: 10px;
      margin-bottom: 20px;
      font-size: 18px;
      color: darkred;
    }
  </style>
</head>
<body>

<div class="container">
  <div class="prediction-container">
    <h3 class="prediction-heading">Chance of Transaction Being Fraud:</h3>
    <p id="prediction">{{ prediction }}</p>
  </div>

  <h2>Enter Features</h2>

  <form method="POST" action="/predict">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="step">Time Label:</label>
          <input type="text" class="form-control" id="step" name="step">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="amount">Amount:</label>
          <input type="text" class="form-control" id="amount" name="amount">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="oldbalanceOrg">Customer Balance:</label>
          <input type="text" class="form-control" id="oldbalanceOrg" name="oldbalanceOrg">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="oldbalanceDest">Recipient Old Balance:</label>
          <input type="text" class="form-control" id="oldbalanceDest" name="oldbalanceDest">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="newbalanceDest">Recipient New Balance:</label>
          <input type="text" class="form-control" id="newbalanceDest" name="newbalanceDest">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="hour">Hour:</label>
          <input type="text" class="form-control" id="hour" name="hour">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="day">Day:</label>
          <input type="text" class="form-control" id="day" name="day">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="trans_weight">Transaction Weighting:</label>
          <input type="text" class="form-control" id="trans_weight" name="trans_weight">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="type_CASH_OUT">Cash Out:</label>
          <input type="text" class="form-control" id="type_CASH_OUT" name="type_CASH_OUT">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="type_TRANSFER">Funds Transfer:</label>
          <input type="text" class="form-control" id="type_TRANSFER" name="type_TRANSFER">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="Destination">Merchant Label:</label>
          <input type="text" class="form-control" id="Destination" name="Destination">
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" style="background-color: darkred; color: white; border-color: darkred;">Predict</button>
  </form>
</div>

</body>
</html>
